<div class="container-fluid pozadina">
    <div class="row main">
        <div class="col-lg-3"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 prijava">
            <div class="form-container">
                <div class="form-content">
                    <div class="login-form-header">
                        <div class="logo">
                            <a routerLink="/"><img src="assets/logo.png" width="190" height="130"></a>
                        </div>
                    </div>
        
                    <div class="form-body">
                        <label style="font-weight: bold; font-size: 30px;margin-bottom: 10px; color:black">Dobrodošli u zoološki vrt Pandica!</label>
                        <label style="font-weight: bold;font-size: 20px;margin-top: 10px; margin-bottom:30px;align-self: center; color: #323223;"> &nbsp; &nbsp;Ukoliko niste naš korisnik, registrujte se i<br>pogledajte sve životinje koje postoje kod nas.</label>
                        <button class="btn" (click)="prijava()"> 
                            Prijava
                        </button>
                        <br/>
                        <button class="btn" (click)="registracija()">
                            Registracija
                        </button>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-lg-3"></div> 
    </div>
</div>