
<footer class="container-fluid page-footer font-small">
    <div class="row">
      <div class="col-1 col-sm-1"></div>
      <div class="col-10 col-sm-10">
        <div class="informacije">
          <label style="font-weight: bolder; font-size: 20px; padding-bottom: 16px;">INFORMACIJE</label>  
          <br>
          <label style="font-size: 15px;">Ulaznice možete kupiti online putem. </label>
          <br>
          <label style="font-size: 15px;">e-mail kontakt za opšte informacije: info.rs@zoopandica.eu</label>
          <br>
          <label style="font-size: 15px;">Kontakt telefon: +381 61 111 451</label>
          <br>
          <label style="font-size: 15px;">Knez Mihailova 59</label>
          <br>
        </div>
      </div>
      <div class="col-1 col-sm-1 drMreze" style="margin: 0px; padding: 0px;">
        <div class="kolona">
          <a href="https://www.facebook.com/" class="fa fa-facebook"></a> 
          <a href="https://www.twitter.com/" class="fa fa-twitter"></a>    
          <a href="https://www.instagram.com/" class="fa fa-instagram"></a> 
          <a href="https://www.google.com/" class="fa fa-google"></a> 
        </div>
      </div>
    </div>
    </footer>