<div class="container-fluid pozadina">
    <div class="row main">
        <div class="col-lg-3"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 prijava">
            <div class="form-container">
                <div class="form-content">
                    <div class="login-form-header">
                        <div class="logo">
                            <a routerLink="/pocetna"><img src="assets/logo.png" width="160" height="110"></a>
                        </div>
                    </div>
        
                    <div class="form-body">
                        <div style="text-align: center;">
                            <label style="color:black; font-weight: bold; font-size: 25px; margin-bottom: 20px;"> Zahtevi </label> 
                        </div>
                        <br>

                        <div *ngIf="nemaZahteva" style="text-align: center;">
                            <label style="color:black; font-size: 20px; margin-bottom: 20px;"> Nema novih zahteva. </label> 
                        </div>

                        <div *ngFor = 'let z of zahtevi' style="margin-bottom: 20px; color: black; font-size: 18px;">
                            <label>{{z.korisnik.ime}} {{z.korisnik.prezime}}, {{z.tip}}, broj ulaznica: {{z.br}} , cena: {{z.cena}} din </label>
                           <label *ngIf="z.promoKod != ''">, promoKod: {{z.promoKod}}</label>
                           <br>
                           <div style="text-align: right;">
                                <button class="btn" (click)="prihvati(z)"> 
                                    Prihvati
                                </button>
                                <button class="btn" (click)="odbij(z)"> 
                                    Odbij
                                </button>
                           </div>
                        </div>
                        <br>
                        <div style="text-align: center;">
                            <label style="color: rgb(0, 0, 0);">&#8592; &nbsp;</label> <a routerLink="/pocetna" style="font-size: 14px; text-decoration: underline; color: black;">Vrati se nazad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-lg-3"></div> 
    </div>
</div>