<div class="container-fluid pozadina">
    <div class="row main">
        <div class="col-lg-3"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 prijava">
            <div class="form-container">
                <div class="form-content">
                    <div class="login-form-header">
                        <div class="logo">
                            <a routerLink="/"><img src="assets/logo.png" width="160" height="110"></a>
                        </div>
                    </div>
        
                    <div class="form-body">
                        <table>
                            <tr>
                                <td>
                                    <input type='text' placeholder="Ime" class="form-input" [(ngModel)]='ime'>
                                </td>
                                <td style="padding-left: 5px;"> <input type='text' placeholder="Prezime" class="form-input" [(ngModel)]='prezime'></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type='text' placeholder="Korisničko ime" class="form-input" [(ngModel)]='korIme'>
                                </td>
                                <td style="padding-left: 5px;">
                                    <input type='text' placeholder="Telefon(xxx-xxx-xxx(x))" class="form-input" [(ngModel)]='telefon'>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    <input type='text' placeholder="Adresa" class="form-input" [(ngModel)]='adresa'>
                                </td>
                                <td style="padding-left: 5px;">
                                    <input type='text' placeholder="E-mail" class="form-input" [(ngModel)]='email'>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="password"  placeholder="Lozinka" class="form-inputL" [(ngModel)]='lozinka'>
                                </td>
                                <td style="padding-left: 5px;">
                                    <input type="password"  placeholder="Potvrda lozinke" class="form-inputL" [(ngModel)]='potvrdaLoz'>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="greska">{{poruka}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><button class="btn" (click)='registracija()'> 
                                    Registruj se 
                                </button></td>
                            </tr>
                            <tr *ngIf = 'uspesno'>
                                <td colspan="2">
                                    <div class="link">
                                        Registracija uspešna! &nbsp;<a routerLink="/prijava"><strong class="reg">Prijavite se.</strong></a>
                                    </div>
                                </td>
                            </tr>
                            
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-lg-3"></div> 
    </div>
</div>